# Ignorar todos los archivos .txt en array_input, excepto los especificados
code/sorting/data/array_input/*.txt
!code/sorting/data/array_input/10_aleatorio_D1_a.txt
!code/sorting/data/array_input/10_aleatorio_D7_a.txt

# Ignorar todos los archivos .txt en matrix_input, excepto los especificados
code/matrix_multiplication/data/matrix_input/*.txt
!code/matrix_multiplication/data/matrix_input/16_densa_D0_a_1.txt
!code/matrix_multiplication/data/matrix_input/16_densa_D0_a_2.txt

# PDF LATEX build files
*.aux
*.bcf
*.log
*.out
*.run.xml
*.toc

# Binarios compilados de la tarea 2
code/implementation/brute-force
code/implementation/greedy1
code/implementation/greedy2
code/implementation/dynamic-programming
code/implementation/general

# Archivos generados por ejecuciones
code/implementation/data/measurements/*.txt
!code/implementation/data/measurements/a.txt
code/implementation/data/outputs/*.txt
!code/implementation/data/outputs/output_5_0.txt
code/implementation/data/plots/*.png